* {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.list > li{
    padding: 0 10px;
}

.content{
    height: 600px;
    width: 400px;
}

#content-down{
    height: 600px;
    width: 400px;
}