body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: serif;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
img{
    height: 100%;
    width: 100%;
}


.switch-theme-button{
    height: fit-content;
    position: relative;
    border-radius: 3rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.switch-theme-button .slider{
    height: 90%;
    width: 50%;
    left: 5%;
    border-radius: 100%;
    top: 5%;
    position: absolute;
    transition-duration: 0.3s;
    background-color: #ffc107;
}
.turnedOn{
    transform: translateX(80%);
}
.button-reflection{
    border-radius: 50rem;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    background-image: linear-gradient(180deg, rgb(250, 210, 0) ,rgb(250, 135, 0) );
    font-size: 1.5rem;
    box-shadow: 0px 1.3rem 30px -3px rgba(250, 208, 0, 0.7);
}
.button-reflection:hover{
    background-image: none;
    background-color: white;
    color: #ffc107;
}



.nav a{
    font-size: 2rem;
}

#introSection h1{
    font-size: 4rem;
}
.socialIcons{
    font-size: 3.5rem;
}
.socialIcons i{
    margin-left: 5%;
    margin-right: 5%;
}


#servicesSection{
    height: 100vh;
    min-height: 130vh;
}
.serviceContainer{
    height: 100%;
    position: relative;
}
.serviceCard{
    position: absolute;
    width: 40%;
    transition-duration: 0.8s;
}
.serviceCard button {
    font-size: larger;
}
.serviceCard:nth-child(1){
    left: 25%;
    transform: translateX(100%);
}
.serviceCard:nth-child(2){
    left: -40%;
    top: 40%;
    transform: translateX(-40%);
}
.serviceCard:nth-child(3){
    left: 20%;
    top: 50%;
    transform: translateX(100%);
}
.learnMore:hover{
    transform: scale(1.2);
}


.circleWhite{
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#interests{
    margin-top: 6rem;
    min-height: 100vh;
}
.companiesOuter{
    height: 35vw;
    width: 35vw;
}
.interestedCompaniesContainer{
    margin: 0% 0% 0% auto;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    border: solid wheat;
}
.innerCompanies{
    height: 10em;
    width: 10em;
    border-radius: 100%;
    border: solid #6c757d 2px;
    position: absolute;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCompanies img{
    height: 60%;
    width: 60%;
}
.innerCompanies:nth-child(1){
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.innerCompanies:nth-child(2){
    right: 0%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}
.innerCompanies:nth-child(3){
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.innerCompanies:nth-child(4){
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.innerCompanies:nth-child(5){
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bubbleDiv1{
    position: absolute;
    height: 20em;
    width: 20em;
    border-radius: 100%;
    z-index: -1;
    right: -15%;
    top: -10%;
    background-color: #0d6efd;
}
.bubbleDiv2{
    position: absolute;
    height: 20em;
    width: 20em;
    border-radius: 100%;
    z-index: -1;
    right: -15%;
    bottom: 0%;
    background-color: #ffc107;
}

#portfolio{
    min-height: 100vh;
}
.cardForPortfolio{
    background-color: rgb(23, 29, 23);
    border: solid white 1px;
    border-right: none;
    border-bottom: none;
    padding: 8%;
    transition: all 0.3s;
    border-radius: 20px;
}
.cardForPortfolio:hover{
    transform: translateY(-10%);
}
.portfolioButton{
    background-color: rgb(23, 29, 23);
    font-size: 1.3rem;
    border: none;
    color: white;
    padding: 5% 15%;
    border-radius: 1.2rem;
    box-shadow: -4px 4px 4px 1px #00805a;
    transition: all 0.3s;
}
.portfolioButton:hover{
    box-shadow: 4px -4px 4px 1px #00805a;
}

#education .outerDiv{
    border: solid 5px white;
    border-radius: 20px;
}
#education .imageDiv{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
#education button{
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 1% 6%;
}

.inputContact{
    border: #ffc107 solid 1px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.5rem;
}
.textContact{
    border: #ffc107 solid 1px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.5rem;
}
#contact h1{
    font-size: 4em;
}



.mov1{
    transform: translateX(0%) !important;
}
.mov2{
    transform: translateX(0%) !important;
}
.mov3{
    transform: translateX(0%) !important;
}

@media screen and (max-width: 768px) {
    #servicesSection{
        height: auto;
    }
    .serviceContainer{
        position: static;
    }
    .serviceCard{
        position: static !important;
        width: 100%;
        transform: translate(0%);
    }
    .mov1{
        transform: translateX(0%) !important;
    }
    .mov2{
        transform: translateX(0%) !important;
    }
    .mov3{
        transform: translateX(0%) !important;
    }
    .serviceCard:nth-child(1){
        transform: translateX(0%);
    }
    .serviceCard:nth-child(2){
        transform: translateX(0%);
    }
    .serviceCard:nth-child(3){
        transform: translateX(0%);
    }
    .companiesOuter{
        margin-top: 6rem;
        margin-left: auto;
        margin-right: auto;
        height: calc(100vw - 10em);
        width: calc(100vw - 10em);
    }
    .innerCompanies{
        height: 20vw;
        width: 20vw;
    }
    .bubbleDiv1{
        height: 40vw;
        width: 40vw;
    }
    .bubbleDiv2{
        height: 40vw;
        width: 40vw;
    }
}