html {
    background-color: rgb(249, 233, 209);
}

.box {
    max-width: 400px;
    margin: 50px auto;
}

#heading {
    text-align: center;
}

.add {
    height: 50px;
    width: 70px;
    color: gray;
    border: 1px solid black;
}

input[type="text"] {
    height: 50px;
    border: none;
    background-color: white;
    width: 290px;
    padding: 0 15px;
    font-size: 15px;
}

input[type="text"]:focus {
    outline-color: blue;
}

.item {
    width: 370px;
    background-color: rgb(121, 228, 201);
    height: 35px;
    display: flex;
    margin-bottom: 20px;
    margin-top: auto;
    align-items: center;
    border: 0;
    border-radius: 5px;
}

.item>button {
    margin: 0 3px 0 2px;
    border: 0px;
    border-radius: 5px;
    height: 30px;
    width: 27px;
}

.text{
    margin-left: 10px;
}

.delete {
    background-color: #EB506C;
}

.up {
    background-color: #42B4E6;
}

.down {
    background-color: #F39A38;
}

.main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style-type: none;
}